<!doctype html>
<html>
<head>
<title>Shoe Size Suggestor Six-Thousand</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div class="nav">
{% include "nav.html" %}
</div>
<div class="content">
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="flashes">
		<h2>Warning</h2>
		<ul class="flashes">
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		</div>
	{% endif %}
{% endwith %}
{% block body %}
{% endblock body %}
</div>
</body>
</html>
