{% extends "base.html" %}
{% block body %}
<h1>Welcome welcome</h1>
<p>
This is a project to allow users to submit footwear that fits them very well, which will be used to make suggestions to others.
</p>
<p>
Please start by visiting the <a href="/submit">submission page</a> to enter what fits you.  This will hopefully help others find well-fitting footwear. This site uses google authentication and will request access to your email address. This will be used for authentication and to keep track of your sizes.
</p>
<p>
To find out what fits others in a specific combination, fill this out.
</p>
<form method="post">
<p>
<select name="maker_id" required>
	<option disabled selected value>Select Maker</option>
	{% for item in makers %}
	<option value="{{ item.id }}">{{ item.maker }}</option>
	{% endfor %}
</select>
<select name="last_id" required>
	<option disabled selected value>Select Last</option>
</select>
<select name="size_id" required>
	<option disabled selected value>Select Size</option>
	{% for item in sizes %}
	<option value="{{ item.id }}">{{ item.size }}</option>
	{% endfor %}
</select>
<select name="width_id" required>
	<option disabled selected value>Select Width</option>
	{% for item in widths %}
	<option value="{{ item.id }}">{{ item.width }}</option>
	{% endfor %}
</select>
<input type="hidden" name="action" value="suggest">
<input type="submit" value="Submit">
</p>
</form>


<p>
To find out what else people wear who enjoy a particular last, enter maker and last here.
</p>
<form method="post">
<p>
<select name="maker_id" required>
	<option disabled selected value>Select Maker</option>
	{% for item in makers %}
	<option value="{{ item.id }}">{{ item.maker }}</option>
	{% endfor %}
</select>
<select name="last_id" required>
	<option disabled selected value>Select Last</option>
</select>
<input type="hidden" name="action" value="lastSuggest">
<input type="submit" value="Submit">
</p>
</form>

<script>
var makerList = {{ makers|tojson }};
var lastList = {{ lasts|tojson }};
var sizeList = {{ sizes|tojson }};
var widthList = {{ widths|tojson }};

makers = document.querySelectorAll('select[name="maker_id"]')
for (var i = 0; i < makers.length; i++) {
	makers[i].addEventListener('change', function() {populateLasts(this);});
}

function populateLasts(elem) {
	var makerID = elem.value;
	var lasts = elem.form.last_id;
	while (lasts.options.length > 1) {
		lasts.removeChild(lasts.options[1]);
	}
	lasts.options[0].selected = true;
	for (var i = 0; i < lastList.length; i++) {
		if (lastList[i].maker_id == makerID) {
			var element = document.createElement("option");
			element.value = lastList[i].id;
			element.innerHTML = lastList[i].last;
			lasts.appendChild(element);
		}
	}
	if (lasts.options.length == 1) {
		var element = document.createElement("option");
		element.innerHTML = "None";
		lasts.appendChild(element);
	}
}

</script>

{% endblock body %}
